SES: send_mail fails when using "fr_CA" in locale.setLocale() (bad date format)

```
What steps will reproduce the problem?
1. call
    locale.setlocale(locale.LC_ALL, 'fr_CA')
2.  try to send a email with send_mail()

What is the expected output? What do you see instead?
I expect that send_email successfully sends the email.


What version of the product are you using? On what operating system?
Library: Boto 2.0. 
OS: CentOS 5.5


Please provide any additional information below.

Traceback (most recent call last):
              ...
              File "/usr/local/lib/python2.6/site-packages/boto-2.0-py2.6.egg/boto/ses/connection.py", line 198, in send_email
                return self._make_request('SendEmail', params)
              File "/usr/local/lib/python2.6/site-packages/boto-2.0-py2.6.egg/boto/ses/connection.py", line 101, in _make_request
                raise self.ResponseError(response.status, response.reason, body)
            boto.exception.BotoServerError: BotoServerError: 400 Bad Request
            <ErrorResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
              <Error>
                <Type>Sender</Type>
                <Code>InvalidParameterValue</Code>
                <Message>Invalid date ven, 29 jui 2011 22:09:59 GMT. It must be in one of the formats specified by HTTP RFC 2616 section 3.3.1</Message>
              </Error>
              <RequestId>7fd946ea-ba2f-11e0-a2cd-c7e156ce51a9</RequestId>
            </ErrorResponse>

```

Original issue reported on code.google.com by `emulle...@gmail.com` on 1 Aug 2011 at 2:52
